<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        .gallery-item img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Image Gallery</h1>
        <div class="row">
            {% for image in images %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ image.title }}</h5>
                        <p class="card-text">{{ image.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'upload_image' %}" class="btn btn-link mt-3">Upload More Images</a>
    </div>
</body>
</html>
